<app-common [common]="common"></app-common>

<main>
    <div class="left">
        <img src="../../assets/principle.jpg"
            alt="" height="290" width="80%">
        <h1>Principal's Welcome</h1>
        <p>
            Welcome to Kamlapati SLV Inter College ! As the principal, I’m excited to be part of a community focused on helping every student succeed. Our school is a place where students can explore their interests, think critically, and make lasting friendships. We prioritize a safe and inclusive environment that values diversity and respect for everyone.<br><br><br>
            Our dedicated teachers work hard to provide engaging learning experiences that prepare students for the future. Together, we aim to inspire each student to become confident and responsible individuals ready to take on the world. Thank you for being part of our journey!
            ​</p>
    </div>
    <div class="left">
        <img src="../../assets/image5.png" height="280" width="80%"
            alt="">
        <h1>Mission</h1>
        <p>
            Our mission is to empower students to reach their full potential through a nurturing and inclusive environment. We strive to inspire a passion for lifelong learning, critical thinking, and creativity. Our dedicated educators foster academic excellence while promoting character development, respect, and collaboration. <br><br><br>
            We embrace diversity and encourage students to engage with their community, preparing them to be responsible global citizens. By cultivating a love for knowledge and resilience, we aim to equip our students with the skills and values necessary to thrive in an ever-changing world. Together, we build a brighter future for all.
            ​</p>
    </div>
</main>

<div class="visions">
    <h3>Vision & Values</h3>
    <ul>
        <li>Respect</li>
        <li>Responsibility</li>
        <li>Integrity</li>
        <li>Compassion</li>
        <li>Courage</li>
    </ul>
</div>

<!-- <h1>Faculty & Staff</h1> -->
<div class="staffs">
    <div class="staff" *ngFor="let data of staffDatas">
        <app-staffs [staffData]="data"></app-staffs>
    </div>
</div>