<div class="main">
    <div class="left">
        <h1 align="center">Kamlapati <br/> S.L.V </h1>
        <p>Inter College</p>
        <a href="">About Our School</a>
    </div>
    <div class="right">
        <!-- <img src="https://scontent.fknu1-4.fna.fbcdn.net/v/t1.6435-9/94376324_101233868242854_3780235793654611968_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=833d8c&_nc_ohc=hVKsHT6etFoQ7kNvgH7TcU4&_nc_ht=scontent.fknu1-4.fna&_nc_gid=AKoxXB746iPkgxZ9snhFCf0&oh=00_AYAnO_NObM7c0wyo54yC50j6GT5byfO4hw4Si-G2g7LWEQ&oe=6729C1ED"
            alt=""> -->
    </div>
</div>

<div class="cont">
    <div class="left" style="width: 50%;background-color: #C9ECF5;">
        <img [src]="path" alt="" style="height: 320px;width:480px;">
    </div>
    <div class="left" style="width: 50%;background-color: #E4F9FF;color: black;align-items: start;">
        <h3 style="font-size: 2.3rem;margin:10px 100px;">Safety First</h3>
        <h5 style="font-size: 1.3rem; width: 50%;margin:10px 100px;">
            Full reopening plans for next year, include a physically-distanced in-person learning model
        </h5>
        <b style="text-decoration: underline;font-size: 1.1rem;margin-left: 100px;">Learn More</b>
    </div>
</div>